.third_seria2
{
    margin-bottom: 20px;
}

.third_seria2_wrapper
{
    display: flex;
    justify-content: center;
}

.kolmd6
{
    border: 1px solid rgb(234, 234, 234);
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
}

.kolmd4
{
    border: 1px solid rgb(234, 234, 234);
    border-radius: 20px;
    padding: 20px;
}

.circle_pl
{
    text-align: center;
}

.login_semii
{
    color: #ffb52e;
    top: -90px;
    position: relative;
    cursor: pointer;
}

.detail_btn
{
    border: 1px solid rgb(234, 234, 234);
    color: blue;
    border-radius: 30px;
}

.customer_body
{
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.customer_middle
{
    margin-left: 10px;
}

.last_invited
{
    font-size: small;
    color: silver;
}

.message_icon
{
    color: silver;
    cursor: pointer;
}